/* Reset all styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* END Reset all styles */


/* General styles */

@import url('https://fonts.googleapis.com/css?family=Barlow');
$white: white;
$gray-xs: #b5b5b5;
body {
  font-size: 14px;
  font-family: 'Barlow', sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .background {
    width: 100%;
    height: 100%;
    background-image: url('./app/assets/imgs/hero.png');
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: $white;
    top: 0;
    left: 60%;
    position: absolute;
    transform: skew(-30deg);
    box-sizing: border-box;
  }
  .logo {
    width: 200px;
    height: 200px;
    top: 0;
    right: 0;
    position: absolute;
    margin-top: 40px;
    margin-right: 90px;
    border-radius: 3px;
    border: 1px solid $gray-xs;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./app/assets/imgs/logo.png');
  }
  .counter {
    font-size: 1200%;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 70px;
    margin-right: 80px;
    ul {
      font-size: 75%;
      text-align: right;
      margin-bottom: 60px;
    }
  }
}
